[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
	branch = develop
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/plugins/tmp"]
	path = tmux/plugins/tmp
	url = gh:tmux-plugins/tpm
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = gh:tmux-plugins/tpm
